<app-new-task
  [userId]="usrId"
  *ngIf="isAddingTask"
  (close)="onCloseAddTask()"
></app-new-task>
<!-- As soon as the close is triggered (close.emit is called), onCloseAddTask will be called
Same as per cody -> When the "close" event is emitted, the onCloseAddTask() function is called in the parent component.-->

<section id="tasks">
  <header>
    <h2>{{ personName }}'s Tasks</h2>
    <menu>
      <button (click)="onStartAddTask()">Add Task</button>
    </menu>
  </header>
  <ul>
    <li *ngFor="let oneTask of tasksService.getUserTasks(usrId)">
      <app-task [task]="oneTask"> </app-task>
    </li>
  </ul>
</section>
