<app-header />

<main>
  <ul id="users">
    <li>
      <app-user [user]="users[0]" (select)="onSelectedUser($event)" />
      <!-- This $event will listen to whatever is emitted by the user component because the event is made
      inside the app-user selector, in our case it is outputting id so, id will be passed to onSelectedUser 
      function declared in the app component -->
    </li>
    <li>
      <app-user [user]="users[1]" (select)="onSelectedUser($event)" />
    </li>
    <li>
      <app-user [user]="users[2]" (select)="onSelectedUser($event)" />
    </li>
    <li>
      <app-user [user]="users[3]" (select)="onSelectedUser($event)" />
    </li>
    <li>
      <app-user [user]="users[4]" (select)="onSelectedUser($event)" />
    </li>
  </ul>
  <app-tasks [name]="selectedUser ? selectedUser.name : ''"></app-tasks>
</main>
